In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt


from typing import Sequence
import itertools
import pytest

### Create all features given a k-mer length

In [2]:
#Define Kmer size 
k= 6
features = []

def generate_all_kmers(k: int, alphabet="CGAT") -> Sequence[str]:
    """generate all polymers of length k
    Args:
        k: length of the polymer
        alphabet: base unit of the kmer, [C, G, A, T] for DNA
    """

    def _generate_all_kmers(partial_kmers: Sequence[str]):
        if len(partial_kmers[0]) == k:
            return partial_kmers
        return _generate_all_kmers(
            partial_kmers=list(
                itertools.chain.from_iterable(
                    [partial_kmer + n for n in alphabet]
                    for partial_kmer in partial_kmers
                )
            )
        )

    return _generate_all_kmers(alphabet)

features = generate_all_kmers(6, alphabet="ACGT")

In [71]:
# display(features)
# Sort columns of sample
# for j in features:
#     if j not in list(sample.columns):
#         sample[j] = np.nan

### create an empty DataFrame with full features list as header

In [3]:
df = pd.DataFrame(columns=features)
display(df)

Empty DataFrame
Columns: [AAAAAA, AAAAAC, AAAAAG, AAAAAT, AAAACA, AAAACC, AAAACG, AAAACT, AAAAGA, AAAAGC, AAAAGG, AAAAGT, AAAATA, AAAATC, AAAATG, AAAATT, AAACAA, AAACAC, AAACAG, AAACAT, AAACCA, AAACCC, AAACCG, AAACCT, AAACGA, AAACGC, AAACGG, AAACGT, AAACTA, AAACTC, AAACTG, AAACTT, AAAGAA, AAAGAC, AAAGAG, AAAGAT, AAAGCA, AAAGCC, AAAGCG, AAAGCT, AAAGGA, AAAGGC, AAAGGG, AAAGGT, AAAGTA, AAAGTC, AAAGTG, AAAGTT, AAATAA, AAATAC, AAATAG, AAATAT, AAATCA, AAATCC, AAATCG, AAATCT, AAATGA, AAATGC, AAATGG, AAATGT, AAATTA, AAATTC, AAATTG, AAATTT, AACAAA, AACAAC, AACAAG, AACAAT, AACACA, AACACC, AACACG, AACACT, AACAGA, AACAGC, AACAGG, AACAGT, AACATA, AACATC, AACATG, AACATT, AACCAA, AACCAC, AACCAG, AACCAT, AACCCA, AACCCC, AACCCG, AACCCT, AACCGA, AACCGC, AACCGG, AACCGT, AACCTA, AACCTC, AACCTG, AACCTT, AACGAA, AACGAC, AACGAG, AACGAT, ...]
Index: []

[0 rows x 4096 columns]

### Import kmer count files,  transform to row format, and append them into dataframe

In [81]:
countsPath = r'D:\DataSet\MULTI\test bow\raw count'
# countsPath = r'D:\DataSet\MULTI\bow\6mer'

import time
start = time.time()

# i = 0
for i in range(0, 10):
    sample = pd.read_fwf(countsPath + r'\kmers-' + str(k) +'-seqNb-'+ str(i) + '.txt',sep=" ", header=None).T
    new_header = sample.iloc[0] #grab the first row for the header
    sample = sample[1:] #take the data less the header row
    sample.columns = new_header #set the header row as the df header
    #APPEND Sample to df DataSet
    df= df.append(sample, ignore_index=True)
    

    
    
end = time.time()
# total time taken
print(f"Runtime of the program is {end - start} secs")

#     display(sample)
display(df)

Runtime of the program is 5.814436912536621 secs

,AAAAAA,AAAAAC,AAAAAG,AAAAAT,AAAACA,AAAACC,AAAACG,AAAACT,AAAAGA,AAAAGC,...,TTTTCG,TTTTCT,TTTTGA,TTTTGC,TTTTGG,TTTTGT,TTTTTA,TTTTTC,TTTTTG,TTTTTT
0,6,6,3,3,2,5,3,6,4,3,...,NaN,3,3,3,3,3,NaN,4,5,4
1,2,NaN,2,NaN,2,NaN,NaN,NaN,3,NaN,...,2,4,NaN,NaN,2,2,3,2,NaN,3
2,NaN,NaN,4,2,2,NaN,2,NaN,NaN,6,...,5,NaN,2,3,4,NaN,3,5,NaN,4
3,3,NaN,2,2,2,NaN,NaN,NaN,2,3,...,2,NaN,NaN,NaN,2,3,NaN,2,NaN,NaN
4,2,2,2,3,3,2,2,NaN,3,2,...,NaN,2,3,NaN,2,3,2,NaN,2,NaN
5,NaN,3,2,NaN,2,3,NaN,NaN,2,3,...,4,2,NaN,NaN,NaN,4,NaN,3,2,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,...,2,NaN,3,3,NaN,4,NaN,2,4,2
7,5,3,5,2,2,4,4,6,5,9,...,6,5,NaN,4,3,3,2,2,2,NaN
8,6,3,NaN,5,NaN,4,5,3,NaN,NaN,...,2,4,4,2,NaN,NaN,NaN,4,3,2
9,NaN,2,6,2,NaN,4,2,3,5,3,...,NaN,NaN,NaN,4,NaN,2,NaN,NaN,NaN,NaN
10,6,6,3,3,2,5,3,6,4,3,...,NaN,3,3,3,3,3,NaN,4,5,4
11,2,NaN,2,NaN,2,NaN,NaN,NaN,3,NaN,...,2,4,NaN,NaN,2,2,3,2,NaN,3
12,NaN,NaN,4,2,2,NaN,2,NaN,NaN,6,...,5,NaN,2,3,4,NaN,3,5,NaN,4
13,3,NaN,2,2,2,NaN,NaN,NaN,2,3,...,2,NaN,NaN,NaN,2,3,NaN,2,NaN,NaN
14,2,2,2,3,3,2,2,NaN,3,2,...,NaN,2,3,NaN,2,3,2,NaN,2,NaN
15,NaN,3,2,NaN,2,3,NaN,NaN,2,3,...,4,2,NaN,NaN,NaN,4,NaN,3,2,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,...,2,NaN,3,3,NaN,4,NaN,2,4,2
17,5,3,5,2,2,4,4,6,5,9,...,6,5,NaN,4,3,3,2,2,2,NaN
18,6,3,NaN,5,NaN,4,5,3,NaN,NaN,...,2,4,4,2,NaN,NaN,NaN,4,3,2
19,NaN,2,6,2,NaN,4,2,3,5,3,...,NaN,NaN,NaN,4,NaN,2,NaN,NaN,NaN,NaN

## write DF to disk using pickle

In [ ]:

df.to_pickle(r"D:\DataSet\MULTI\60k-6mers-DF")

### merge sample into dataset dataframe

In [44]:

def importCounts():
    for i in range(0, 10):
        with open(countsPath + r'\kmers-' + str(k) +'-seqNb-'+ str(i) + '.txt', 'r') as filehandle:
#             display(filehandle)

#         for line in filehandle:
#             # remove linebreak, if exists, which is the last character of the string
#             if(line[-1] == "\n"):
#                 currentPlace = line[:-1]
#             else:
#                 currentPlace = line[:]
#             # add item to the list
#             labels.append(currentPlace)
    

importCounts()

IndentationError: expected an indented block (<ipython-input-44-8bdf92bf201e>, line 16)

1024